@model PeopleViewModel

<div>
    <h2>@ViewBag.Title</h2>
    <br />
    <h4>Eric R WebAppAssignmentMVC_Data_2</h4>

    <div>
        <br />
        <P id="actionMessage">@ViewBag.Mess</P>
    </div>

    <div class="flexwrap">

        <div>

            <form asp-action="Index" method="post" role="form">
                @Html.AntiForgeryToken()
                <h3><b>Filter list by search</b></h3>
                <label asp-for="FilterString"></label>
                <br />
                <input asp-for="FilterString" required />
                <br />
                <br />
                <input type="submit" class="btn btn-primary" name="btnFilter" value="Search" />
            </form>
            <br />
            <br />
            <input type="button" class="btn btn-primary" name="btnReset" value="Reset Search" onClick="location.href='@Url.Action("Index", "People")'" />
        </div>


        <div>
            <form asp-action="CreatePerson" method="post" role="form">
                @Html.AntiForgeryToken()
                <div>
                    <h3><b>Create a new Person</b></h3>
                    <label asp-for="PersonName"></label>
                    <br />
                    <input asp-for="PersonName" />
                    <br />
                    <span id="redtext" asp-validation-for="PersonName"></span>
                    <br />
                    <label asp-for="PersonPhoneNumber"></label>
                    <br />
                    <input asp-for="PersonPhoneNumber" />
                    <br />
                    <span id="redtext" asp-validation-for="PersonPhoneNumber"></span>
                    <br />
                    <label asp-for="PersonCity"></label>
                    <br />
                    <input asp-for="PersonCity" />
                    <br />
                    <span id="redtext" asp-validation-for="PersonCity"></span>
                    <br />
                </div>
                <div>
                    <input type="submit" class="btn btn-primary" name="btnCreate" value="Add Person" />
                </div>
            </form>
        </div>

    </div> <!-- end flexdiv -->

    <br />
    <div>
        @{
        }
        <partial name="_PeopleListPartial" model="Model.PeopleListView" />
    </div>

</div>
