@model PeopleViewModel

<div>
    <h4>Add & Edit Person</h4>

    <div>
        <p id="actionMessage">@ViewBag.Mess</p>
        <div>
            <p>@ViewBag.BaseLanguageList, @ViewBag.BaseCountryList, @ViewBag.BaseCityList, @ViewBag.BasePersonList </p>
            <br />
        </div>
    </div>

    <div class="flexwrap">

        <div>
            <fieldset id="fieldsetbox">
                <legend id="legbox">Filter list by search</legend>
                <form asp-action="Index" method="post" role="form">
                    @Html.AntiForgeryToken()
                    <label asp-for="FilterString"></label>
                    <br />
                    <input asp-for="FilterString" required />
                    <br />
                    <br />
                    <input type="submit" class="btn btn-primary" name="btnFilter" value="Search" />
                    <input type="button" class="btn btn-secondary" name="btnReset" value="Reset Search" onClick="location.href='@Url.Action("Index", "People")'" />
                </form>
                <p>@Model.SearchResultEmpty</p>
            </fieldset>
        </div>


        <div>
            <fieldset id="fieldsetbox">
                <legend id="legbox">Create a new Person</legend>
                <form asp-action="CreatePerson" method="post" role="form">
                    @Html.AntiForgeryToken()
                    <div>
                        <label asp-for="PersonName"></label>
                        <br />
                        <input asp-for="PersonName" />
                        <br />
                        <span id="redtext" asp-validation-for="PersonName"></span>
                        <br />
                        <label asp-for="PersonPhoneNumber"></label>
                        <br />
                        <input asp-for="PersonPhoneNumber" />
                        <br />
                        <span id="redtext" asp-validation-for="PersonPhoneNumber"></span>
                        <br />
                        <label asp-for="PersonCity"></label>
                        <br />
                        <select asp-for="PersonCity">
                            <option value="" disabled>Select a City</option>
                            @{
                                if (Model.CityListView != null)
                                {
                                    foreach (City city in Model.CityListView)
                                    {
                                        <option value="@city.CityId">@city.CityName</option>
                                    }
                                }
                            }
                        </select>
                        <br />
                        <span id="redtext" asp-validation-for="PersonCity"></span>
                        <br />
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" name="btnCreate" value="Add Person" />
                    </div>
                </form>
            </fieldset>
        </div>

    </div> <!-- end flexdiv -->

    <br />
    <div>
        @{ <partial name="_PeopleListPartial" model="Model" />}
    </div>

</div>
