@model PeopleViewModel

               <div class="container">
                   <div class="row bg-dark text-light">
                       <div class="col-1">PersonId</div>
                       <div class="col-3">Name</div>
                       <div class="col-3">PhoneNumber</div>
                       <div class="col-3">City</div>
                       <div class="col-2">Option</div>
                   </div>
                   @foreach (var person in Model.PeopleListView)
                   {
                   <div class="row">
                       <div class="col-1">@person.PersonId</div>
                       <div class="col-3">@person.PersonName</div>
                       <div class="col-3">@person.PersonPhoneNumber</div>
                       <div class="col-3">@person.City.CityName</div>
                       <div class="col-2"><a href="#" onClick="location.href='@Url.Action("DeletePerson", "People" , new { id=@person.PersonId })'">Delete</a></div>
                   </div>
                   }
               </div>

