@model CityViewModel

               <div class="container">
                   <div class="row bg-dark text-light">
                       <div class="col-1">CityId</div>
                       <div class="col-3">CityName</div>
                       <div class="col-3">CountryId</div>
                       <div class="col-3">CountryName</div>
                       <div class="col-2">Option</div>
                   </div>
                   @foreach (var city in Model.CityListView)
                   {
                   <div class="row">
                       <div class="col-1">@city.CityId</div>
                       <div class="col-3">@city.CityName</div>
                       <div class="col-3">@city.Country.CountryId</div>
                       <div class="col-3">@city.Country.CountryName</div>
                       <div class="col-2"><a href="#" onClick="location.href='@Url.Action("DeleteCity", "City" , new { id=city.CityId })'">Delete</a></div>
                   </div>
                   }
               </div>

