@model PeopleViewModel

<div class="container">
    <div class="row bg-dark text-light">
        <div class="col-1">PersonId</div>
        <div class="col-3">Name</div>
        <div class="col-2">PhoneNumber</div>
        <div class="col-2">City</div>
        <div class="col-2">Country</div>
        <div class="col-2">Option</div>
    </div>
    @foreach (Person person in Model.PeopleListView)
    {
        <div class="row" id="peoplelisttable">
            <div class="col-1">@person.PersonId</div>
            <div class="col-3">@person.PersonName</div>
            <div class="col-2">@person.PersonPhoneNumber</div>
            <div class="col-2">@person.City.CityName</div>
            <div class="col-2">@person.City.Country.CountryName</div>
            <div class="col-2" id="btnBorderBox">
                <form asp-action="AddLanguageView" asp-route-id="@person.PersonId" method="post" role="form" >
                    @Html.AntiForgeryToken()
                    <input type="submit" id="optionBtnGreen" value="Add Language(s)">
                </form>
                <form asp-action="PersonDetails" asp-route-id="@person.PersonId" method="post" role="form" >
                    @Html.AntiForgeryToken()
                    <input type="submit" id="optionBtnGreen" value="Details">
                </form>
                <form asp-action="DeletePerson" asp-route-id="@person.PersonId" method="post" role="form" onclick="return confirm('Are you sure you want to delete this person?')">
                    @Html.AntiForgeryToken()
                    <input type="submit" id="optionBtnRed" value="Delete">
                </form>
            </div>
        </div>
    }

</div>

